
<h1>Hello <%= @user.first_name.titleize %>,</h1>

<p>
You recently created a <%= t('site_name') %> account
using your email address of <%= @user.email %>.
</p>

<p>
To verify your email address, please open the following link:
</p>

<%= verify_email_url(@user.token) %>

<p>
If the link does not work, please login to your account
and enter this token:
</p>

<p>
<%= @user.token %>
</p>

<p>
Thank you for visiting <%= t('site_name') %>.
</p>

